<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
    <style>
        body {
            margin: 50px;
        }

    </style>
</head>
<body>
    <h1>폼태그 읽기</h1>
    <ul>
        <li><a th:href="@{./form1}">폼 데이터 각각 읽기</a></li>
        <li><a th:href="@{./form2}">폼 데이터 Dto 읽기</a></li>
        <li><a th:href="@{./form3}">폼 데이터 Map 읽기</a></li>
    </ul>
</body>
</html>