<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form2</title>
</head>
<body>
<form action="show2" method="post">
    <tr>
        <th>학생명</th>
        <td><input type="text" name="name"></td>
    </tr>
    <br>
    <tr>
        <th>연락처</th>
        <td><input type="text" name="ph"></td>
    </tr>
    <br>
    <tr>
        <th>주소</th>
        <td><input type="text" name="addr"></td>
    </tr>
    <br>
    <tr>
        <td colspan="2" align="center">
            <input type="submit" class="btn btn-outline-success">
        </td>
    </tr>
</form>
</body>
</html>
